# ===== Python cache =====
__pycache__/
*.pyc

# ===== Logs =====
*.log
app/logs/

# ===== Machine Learning (heavy files) =====
*.h5
*.pkl
app/AI_ML/data/

# ===== Jupyter cache =====
.ipynb_checkpoints/

# ===== Research documents (heavy PDFs) =====
*.pdf

# ===== IDE =====
.vscode/
data/live_flow.csv
